<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">

      <!-- the bar when logged in -->
      <ul class="navbar-nav ml-auto">
        <ng-container >
          <li class="nav-item">
            <a class="nav-link menu-item" routerLink="/test" routerLinkActive="active"
              >Sub </a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link menu-item" routerLink="/test" routerLinkActive="active"
              >GetPost</a
            >
          </li>

        </ng-container>
         
  
      </ul>
      <a tabindex="-7" class="navbar-brand" routerLink="/" routerLinkActive="active"
        >API </a
      >
    </div>
  </nav>
  