<!-- <app-cool-modal></app-cool-modal> -->
  <app-alert-modal *ngIf="!flag" 
    [message]="modalMessage"
    (close)="onHandleClose($event)"
  ></app-alert-modal>
<p appBasicHighlight>Test BasicDirective</p>
<p appBetterHighlight [highlightColor]="'cyan'" >Test BetterDirective</p>
<h1 appBasicHighlight>{{title |shorten:6 }}</h1>
<h2>{{title}}</h2>

{{ person | json }}
<div class="container">
  <form #contactForm="ngForm" (ngSubmit)="onSubmit()">
 
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" name="firstname" 
      [(ngModel)]="person.firstname"
      >
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text"  class="form-control" name="lastname" 
      [(ngModel)]="person.lastname">
    </div>
  <!--  
    <select name="country" ngModel>
      <option [ngValue]="c.id" *ngFor="let c of countryList">
        {{c.name}}
      </option>
    </select>
    -->
    <div class="form-group">
      <button [disabled]="!flag" class="btn btn-primary" type="submit">Post</button>
    </div>
    
    <div  class="form-group">
      <button  class="btn btn-warning" (click)="refreshPeople()">Get Data</button>
    </div>
    
  </form>
</div>


<p>You searched for: <strong>{{searchTerm}}</strong> </p>
 <div class="form-group">
  <input type="text" 
   class="form-control col-sm-3" 
  [(ngModel)]="searchTerm">

  <div *ngIf="error != null" class="alert alert-danger col-md-12" role="alert">
    No Response from API or bad request
    <br>
    <ul>
      <li>  1- insttall fake server by
        npm install -g json-server</li>
      <li>  2- create db file as follows:
        db.json
        with json data people </li>
      <li> 
        3- run it:
        json-server --watch db.json</li>
    </ul>

  </div>
  
  <div *ngIf="people">
    <table class='table' >
      <thead>
        <tr>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people | filter:searchTerm:'firstname'">
          <td>{{person.id}}</td>
          <td>{{person.firstname}}</td>
          <td>{{person.lastname}}</td>
        </tr>
      </tbody>
    </table>
  </div>

 </div>

<!-- 
  <div class="form-group">
  <label for="power">Hero Power</label>
  <select class="form-control"  id="power"
          required
          [(ngModel)]="model.power" name="power">
    <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
  </select>
</div>
 -->

<!--  
<div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="person.firstname" />
    <br> <br>
    <label>Last Name: </label>
    <input [(ngModel)]="person.lastname" />
  </div>
  <div>
    <button (click)="addPerson()">Add</button>
  </div>
</div>
 
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people;">
      <td>{{person.id}}</td>
      <td>{{person.firstname}}</td>
      <td>{{person.lastname}}</td>
    </tr>
  </tbody>
</table>
 -->
